.card img {
  background-color: lightgray;
}

.card:hover {
  border: 1px solid rgb(255, 0, 0);
  transform: scale(1.05);
  transition: 0.3s;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.flecha{
  width: 500px;
  margin-bottom: 50px;
}