.card img {
  background-color: lightgray;
}

.card:hover {
  border: 1px solid rgb(255, 0, 0);
  transform: scale(1.05);
  transition: 0.3s;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.flecha{
  width: 500px;
  margin-bottom: 50px;
}

.img{
  cursor: pointer;
  width: 500px;
}

.btn-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-text{
  font-weight: 500;
  font-size: 10pt;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.btn-text:hover{
  color:#212529;
}

.describe{
  margin-top: -30px;
}

.espacamento{
  margin-bottom: 30px;
}

.footer{
  color: white;
}